.column {
    display: flex;
    background-color: rgb(227, 235, 241);
}
.white {
    width: 200px;
    height: 600px;
    background-color: white;
}
.foto {
    padding: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-shrink: 2;
    flex-basis: 20px;
}
.list-group {
    width: 200px;
}
h5 {
    padding-top: 30px;
    padding-left: 30px;
}
h3 {
    padding-left: 30px;
    padding-top: 10px;
}
.table {
    margin-left: 30px;
    background-color: white;
}
.btn-success {
    margin-top: 100px;
    margin-left: 30px;
}
.btn-primary {
    margin-left: 30px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .adapt {
        width: 400px;
        overflow-y: scroll;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    .adapt {
        width: 600px;
        overflow-y: scroll;
    }
}

